body {
  font-family:'Open Sans';
}

@font-face {
  font-family: 'general';
  src:url('fonts/general.eot?uy5qrt');
  src:url('fonts/general.eot?#iefixuy5qrt') format('embedded-opentype'),
    url('fonts/general.woff?uy5qrt') format('woff'),
    url('fonts/general.ttf?uy5qrt') format('truetype'),
    url('fonts/general.svg?uy5qrt#general') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'general';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-vida:before {
  content: "\e61b";
}
.icon-megaphone:before {
  content: "\e61a";
}
.icon-simcard:before {
  content: "\e608";
}
.icon-plusaccordeon:before {
  content: "\e600";
}
.icon-user:before {
  content: "\e601";
}
.icon-simple-arrow2:before {
  content: "\e60c";
}
.icon-unchecked:before {
  content: "\e602";
}
.icon-twitter:before {
  content: "\e603";
}
.icon-tres-pers:before {
  content: "\e604";
}
.icon-trash:before {
  content: "\e605";
}
.icon-thumb-down:before {
  content: "\e606";
}
.icon-speedtest:before {
  content: "\e607";
}
.icon-small-arrow:before {
  content: "\e609";
}
.icon-shield:before {
  content: "\e60e";
}
.icon-share:before {
  content: "\e60f";
}
.icon-share-out:before {
  content: "\e610";
}
.icon-settings:before {
  content: "\e611";
}
.icon-segurovida:before {
  content: "\e612";
}
.icon-seguros:before {
  content: "\e613";
}
.icon-seguro-hogar:before {
  content: "\e614";
}
.icon-save:before {
  content: "\e615";
}
.icon-salud:before {
  content: "\e616";
}
.icon-rss:before {
  content: "\e617";
}
.icon-reportajes:before {
  content: "\e618";
}
.icon-refresh:before {
  content: "\e619";
}
.icon-print:before {
  content: "\e61d";
}
.icon-precios-variables:before {
  content: "\e61e";
}
.icon-pin:before {
  content: "\e61f";
}
.icon-phone:before {
  content: "\e620";
}
.icon-permalink:before {
  content: "\e621";
}
.icon-pen:before {
  content: "\e622";
}
.icon-packs:before {
  content: "\e624";
}
.icon-noticias:before {
  content: "\e625";
}
.icon-movil:before {
  content: "\e626";
}
.icon-moto:before {
  content: "\e627";
}
.icon-menu:before {
  content: "\e62b";
}
.icon-meneame:before {
  content: "\e62c";
}
.icon-mejorcompra:before {
  content: "\e62d";
}
.icon-magnifier:before {
  content: "\e62e";
}
.icon-link:before {
  content: "\e631";
}
.icon-kelisto-circle:before {
  content: "\e632";
}
.icon-info:before {
  content: "\e633";
}
.icon-icon-pdf:before {
  content: "\e634";
}
.icon-hogar:before {
  content: "\e635";
}
.icon-hipotecas:before {
  content: "\e636";
}
.icon-help:before {
  content: "\e637";
}
.icon-happy:before {
  content: "\e638";
}
.icon-googleplus:before {
  content: "\e639";
}
.icon-gift:before {
  content: "\e63a";
}
.icon-general:before {
  content: "\e63b";
}
.icon-gas:before {
  content: "\e63c";
}
.icon-finanzas:before {
  content: "\e63d";
}
.icon-favorite:before {
  content: "\e63e";
}
.icon-favorite-notselected:before {
  content: "\e63f";
}
.icon-famaydinero:before {
  content: "\e640";
}
.icon-facebook:before {
  content: "\e641";
}
.icon-eye:before {
  content: "\e642";
}
.icon-exit:before {
  content: "\e643";
}
.icon-error:before {
  content: "\e644";
}
.icon-email:before {
  content: "\e645";
}
.icon-electricidad:before {
  content: "\e646";
}
.icon-duracion-contrato:before {
  content: "\e647";
}
.icon-download:before {
  content: "\e648";
}
.icon-dos-pers:before {
  content: "\e649";
}
.icon-datos:before {
  content: "\e64a";
}
.icon-cursor:before {
  content: "\e64b";
}
.icon-cuatromas-pers:before {
  content: "\e64c";
}
.icon-con-factura:before {
  content: "\e64e";
}
.icon-comunidad:before {
  content: "\e64f";
}
.icon-comms:before {
  content: "\e650";
}
.icon-clock:before {
  content: "\e651";
}
.icon-checked:before {
  content: "\e653";
}
.icon-check-verde:before {
  content: "\e654";
}
.icon-chat:before {
  content: "\e655";
}
.icon-broadband:before {
  content: "\e657";
}
.icon-bookmark-percent:before {
  content: "\e658";
}
.icon-bookmark-kelisto:before {
  content: "\e659";
}
.icon-bookmark-euro:before {
  content: "\e65a";
}
.icon-blankfile:before {
  content: "\e65b";
}
.icon-assist:before {
  content: "\e660";
}
.icon-approved:before {
  content: "\e662";
}
.icon-account-lock:before {
  content: "\e663";
}
.icon-logo-top:before {
  content: "\e62f";
}
.icon-sort-inactive:before {
  content: "\e60a";
}
.icon-sort-up:before {
  content: "\e664";
}
.icon-sort-down:before {
  content: "\e665";
}
.icon-simple-arrow22:before {
  content: "\e60b";
}
.icon-CI-todoriesgo:before {
  content: "\e60d";
}
.icon-CI-todoriesgofranquicia:before {
  content: "\e630";
}
.icon-CI-tercerosampliados:before {
  content: "\e667";
}
.icon-auto:before {
  content: "\e65c";
}
.icon-arrow:before {
  content: "\e661";
}


#masthead {
  min-height:150px;
  background-color:#864587;
    color:#ffffff;
}

#masthead h1 {
  font-size: 55px;
  font-family:'Raleway' sans-serif;
  line-height: 1;
}

#masthead .well {
  margin-top:13%;
  background-color:#111155;
    border-color:#000033;
}

.icon-bar {
  background-color:#fff;
}
.nav-stacked{
  margin-top:3%;
  background:#f1f1f1;
  position:fixed;
  border-radius:.4em;
  border:1px solid #ddd;
}

@media screen and (max-width: 990px) {
  .nav-stacked{
    position:relative;
  }
}
@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 80px;
  }
}

.navbar-bright {
  background-color:#111155;
    color:#fff;
}
  
.navbar-bright a, #masthead a, #masthead .lead {
    color:#fff;
}

.navbar-bright li > a:hover {
    background-color:#009de0;
}
.nav>li>a {
position: relative;
display: block;
padding: 10px 15px;
font-size: 1.3em;
}
.nav-stacked>li+li{
  margin-top:0;
}
.nav>li>a:hover{
  background:#fff;
}
.current{
  color:#2a2a2a;
  background:#fff;
}
a.current:hover{
  color:#2a2a2a;
  background:#fff;
}

.affix-top,.affix{
  position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
    margin-top:30px;
    width:228px;
  }
  
  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}
.glyph {
  font-size: 16px;
  width: 12em;
  padding-bottom: 1em;
  float: left;
  overflow: hidden;
}
.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}
.talign-right {
  text-align: right;
}
.talign-center {
  text-align: center;
}
.bgc1 {
  background: #f1f1f1;
}
.fgc1 {
  color: #999;
}
.fgc0 {
  color: #000;
}
p {
  margin-top: 1em;
  margin-bottom: 1em;
}
.mvm {
  margin-top: .75em;
  margin-bottom: .75em;
}
.mtn {
  margin-top: 0;
}
.mtl, .mal {
  margin-top: 1.5em;
}
.mbl, .mal {
  margin-bottom: 1.5em;
}
.mal, .mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}
.mls {
  margin-left: .25em;
}
.ptl {
  padding-top: 1.5em;
}
.pbs, .pvs {
  padding-bottom: .25em;
}
.pvs, .pts {
  padding-top: .25em;
}
.clearfix {
  zoom: 1;
}
.unit {
  float: left;
}
.unitRight {
  float: right;
}
.size1of2 {
  width: 50%;
}
.size1of1 {
  width: 100%;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hidden-true {
  display: none;
}
.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: .25em .5em;
  line-height: 1.5;
  height: 1.5em;
}
#testDrive {
  padding-top: 24px;
  line-height: 1.5;
}
.fs0 {
  font-size: 16px;
}
.fs1 {
  font-size: 29px;
}

.img-center {margin:0 auto;display: block;}